<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<title>RTD | %%TITLE%%</title>
    <link rel="stylesheet" href="/template/rt_responsive.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/scripts/jquery/css/cupertino/jquery-ui-1.9.1.custom.min.css"/>
	
	
	<script src="/scripts/ckeditor/ckeditor.js"></script>
  	<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
  
	<script src="http://cdn.jsdelivr.net/lightbox2/2.51/lightbox.js"></script>
	<link href="http://cdn.jsdelivr.net/lightbox2/2.51/lightbox.css" rel="stylesheet" />
  	<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>	
	<script src="/scripts/timepicker/timepicker.js"></script>
	
	<script type="text/javascript" src="/template/js/actions.js"></script>
	<script type="text/javascript" src="/template/js/mobile.js"></script>

	

	<script type="text/javascript" src="/scripts/nivo-slider/jquery.nivo.slider.js"></script>
	
  	<link rel="shortcut icon" href="/img/rtdnew_favicon.gif" type="image/x-icon" />

    <link rel="stylesheet" href="/scripts/nivo-slider/themes/bar/bar.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/scripts/nivo-slider/nivo-slider.css" type="text/css" media="screen" />

</head>
<div id="pagewrap">

	<div id="header">
		<div id="box">%%LOGINBOX%%</div>
	</div>
		
	<div id="left">
		
		<div id="box">%%STATSBOX%%</div>
		<div id="box"><center>%%BANNER_1%%</center></div>
	</div>
	
	<div id="middle">
		%%CONTENT%%
	</div>

	<div id="right">
		<script src="/scripts/rtd/randomtabler.js.php"></script>
		<center>%%BANNER_2%%
		%%BANNER_3%%</center>
	</div>
	
	<div id="footer">
		<h4>Footer</h4>
		<p>Footer text</p>
	</div>

</div>