@charset "utf-8";
/* CSS Document */

a
{
	color: white;
	font-weight: bolder;
	text-decoration: none;
}

div.profile
{
padding: 10px;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 12px;
}

.clickable
{
cursor:hand;
}

#wrapper {
	width: 999px;
	margin: 20px auto 20px auto;
}


/* HEADER */

#header {
	width: 100%;
	height: 125px;
	background: url("../images/header.png") 0 0 no-repeat;
	position: relative;
}

#logo {
	width: 122px;
	height: 123px;
	margin: 0;
	padding: 2px 0 0 40px;
}

#notification
{
  background-color: red;
	visibility: hidden;
	display: none;
}


#search {
	width: 215px;
	position: absolute;
	right: 32px;
	top: 58px;
	border: none;
	border: 0px;
}

#content input.field {
width: 250px;
}

#search input.soeg,
#soeg input.soeg {
	background: url("../images/soeg.png") 0 0 no-repeat;
	border: 0;
	color: #ffffff;
	font-weight: bold;
	height: 19px;
	width: 47px;
	margin-top: -2px;
}

#search input.bar {
	height: 26px;
}



/* MENU */

#menu {
	height: 27px;
	background-color: #0082b0;
	border-top: 1px solid #0c85b0;
	border-bottom: 1px solid #128ab4;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu ul li {
	float: left;
	background: url("../images/menu_separator.png") top right no-repeat;
}

#menu ul li.last {
	background: none;
}

#menu ul li a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	padding: 0 29px;
	height: 27px;
	line-height: 27px;
	text-align: center;
}

#menu ul li.parent a {
	padding: 0 36px 0 22px;
	background: url("../images/drop.png") right no-repeat;
}

#menu ul li a:hover,
#menu ul li a:active,
#menu ul li.active a,
#menu ul li a:focus,
#menu ul li:hover a {
	background: url("../images/menu_hover.png") 0 0 no-repeat;
	padding: 0 29px;
}

#menu ul li.parent a:hover {
	padding: 0 29px;
}

#menu ul li:hover,
#menu ul li.active {
	background: url("../images/menu_hover_right.png") top right no-repeat;
}

/* 2nd level menu */

#menu ul li.parent ul {
	display: none;
	list-style-type: none;
	z-index: 100;
	position: absolute;
}

#menu ul li.parent ul li {
	float: none;
	background-color: #0082b0;
}

#menu ul li.parent ul li a {
	background: none;
	padding: 0 29px;
}

#menu ul li.parent ul li a:hover {
	background: none;
	padding: 0 29px;
	color: #00386b;
}

#menu ul li.parent ul li:hover {
	background: #0082b0;
	background-image: none;
}


/* CONTENT */

#content {
	margin-top: 15px;
	position: relative;
}


.box {
	margin: 0 0 10px 0;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	overflow: hidden;
	background-color: #cccccc;
}

.readmore {
	position: absolute;
	bottom: 7px;
	right: 10px;
	text-decoration: underline !important;
}

#content h3 {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 11px;
	margin: 6px 0 0 6px;
	padding: 0 0 0 7px;
	height: 35px;
	width: 168px;
	line-height: 37px;
	background: url("../images/heading.png") 0 0 no-repeat;
}

#content h1, #content h2 {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 11px;
	padding: 0 0 0 7px;
	height: 35px;
	width: 578px;
	line-height: 37px;
	background: url("../images/heading_content.png") 0 0 no-repeat;
}

#content input {

}

/* LEFT */

#left {
	width: 195px;
	position: absolute;
	top: 0;
	left: 0;
}

#leftbox {
	width: 185px;
	height: 175px;
	border: 5px solid #bebeb4;
	background: url("../images/box_bg.png") 0 0 repeat-x;
}
#leftbox form {
	margin: 8px;
	width: 165px;
}

#leftbox .bar {
	width: 158px;
	margin-bottom: 10px;
}

#soeg {
	width: 185px;
	border: 5px solid #bebeb4;
	background: url("../images/box_bg.png") 0 0 repeat-x;
}

div.stats
{
padding-left: 20px;
padding-right: 20px;
}

#soeg form {
	margin: 8px;
	width: 165px;
}

#soeg .bar {
	width: 158px;
	margin-bottom: 10px;
}

#left_ad {
	width: 195px;
	height: 265px;
	background-color: #000000;
}


/* CENTER */


#center {
	width: 589px;
	margin-left: 205px;
	min-height: 584px;
	margin-bottom: 15px;
}

img { border: none; }

#center a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}

#banner {
	width: 579px;
	
	background-color: #cccccc;
	padding: 5px;
}

#news_left {
	width: 280px;
	height: 130px;
	border: 5px solid #bebeb4;
	float: left;
	position: relative;
}

#news_right {
	width: 280px;
	height: 130px;
	border: 5px solid #bebeb4;
	margin-left: 299px;
	position: relative;
}

#news_left img,
#news_right img {
	width: 100%;
	height: auto;
}

#center .cover {
	height: 10px;
	width: 260px;
	padding: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #0082b0;
}

#box_small_wrap {
	height: 137px;
	position: relative;
}

#box_small_1,
#box_small_2,
#box_small_3 {
	height: 127px;
	width: 180px;
	background: url("../images/box_bg.png") 0 0 repeat-x;
	border: 5px solid #bebeb4;
}

#box_small_2 {
	position: absolute;
	top: 0;
	left: 200px;
}

#box_small_3 {
	position: absolute;
	top: 0;
	right: 0;
}

#box_small_3 a {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 11px;
	margin: 6px 0 0 6px;
	padding: 0 0 0 7px;
	height: 35px;
	width: 168px;
	line-height: 37px;
	background: url("../images/heading.png") 0 0 no-repeat;
	display: block;
}


/* RIGHT */

#right {
	width: 195px;
	position: absolute;
	top: 0;
	right: 0;
}

#right_ad1 {
	width: 195px;
/*	height: 185px;*/
/*	background-color: #000000;*/
}

#right_ad2 {
	width: 195px;
/*	height: 390px;*/
/*	background-color: #000000;*/
}


/* FOOTER */

#footer {
	width: 999px;
	height: 27px;
	background-color: #0082b0;
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
}


/* CSS END */



.header {
	background: url(../images/banner.png);
	width: 999px;
	height: 125px;
}
.ui-menu {
	width: 200px;
}


textarea.hidden {
	visibility: hidden;
	display: none;
}
span.board_member {
	color: white;
	position: absolute;
	background: gray;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: -248px;
	width: 248px;
	height: 20px;
	z-index: 5;
}
img.board_member {
	width: 248px;
	height: 248px;
	z-index: 2;
}
div.box {
	padding: 0px;/* border-bottom: 1px solid black; */
}
.slides_container {
	width: 570px;
	height: 270px;
}
.slides_container div {
	width: 570px;
	height: 270px;
	display: block;
}
ul.pagination {
	visibility: hidden;
	display: none;
}
div.searchbox {
	top: 50px;
	padding: 50px;
}
#menubox {
	background: #0082b0; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwODJiMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTQ4N2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #0082b0 0%, #11487f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0082b0), color-stop(100%, #11487f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0082b0 0%, #11487f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0082b0 0%, #11487f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0082b0 0%, #11487f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0082b0 0%, #11487f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0082b0', endColorstr='#11487f', GradientType=0 ); /* IE6-8 */
7-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-right: 10px;
	border: 5px solid #bebeb4;
}
<!--
[if gte IE 9]>  <style type="text/css">  .gradient {
 filter: none;
}
 </style> <![endif]
-->
 #menubox_top {
background: url(../images/menubox_top.png);
 position: relative;
 top: 0;
left: 0;
 height: 15px:
 margin-bottom: 15px;
}
